
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #fff;
  color: #222;
}

.cart-icon i {
  font-size: 1.8rem;
  color: #0f0f0f;       /* Change color if needed */
  cursor: pointer;
}

.hero {
  position: relative;            /* important */
  background-image: url('https://res.cloudinary.com/djgsubdsz/image/upload/v1764611685/image-happy-surprised-africanamerican-girl-receiving-gift-looking-inside-shopping-bad-with_1_lg8z9d.jpg') ;
  background-size:cover;
  background-repeat: no-repeat;
  object-fit: cover; 
  background-position: center center;
 width: 100%;
  min-height:80vh;       
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;   /* adjust to left/center/right */

    padding: 40px ;}

  





.footer-section{
  background-color:#fef791;
}


/* Tablet */
@media (min-width: 768px) {
  /* styles for screens >= 768px */
}

/* Desktop */
@media (min-width: 992px) {
  /* styles for screens >= 992px */
}
/* mobile */
.products-grid {
  display: grid;
  grid-template-columns: 1fr;   /* 1 column */
  gap: 1.5rem;
  padding: 1.5rem;
}
/* Tablet */
@media (min-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);  /* 2 columns */
  }
}

/* Desktop */
@media (min-width: 992px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);  /* 4 columns */
  }
}